rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      allow read: if true;
      allow write: if request.method == 'POST' || request.method == 'PUT';
      allow delete: if false;
      
      // Allow CORS preflight requests
      allow options: if true;
    }
  }
} 